@font-face {
	font-family: Effloresce;
    src: url("EFFLORES.ttf");
}
@font-face {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background-image: url("./pildid/men端端taust.jpg");
    background-position: center top;
    background-attachment: fixed;
}
h2 {
	font-family: Effloresce;
	font-size: 60px;
    text-align: center;
}
h3 {
    font-family: Effloresce;
    font-size: 30px;
    text-align: center;
}
p {
    font-family: Effloresce;
    font-size: 20px;
    text-align: center;
    margin: 0;
    padding: 0;
}
.main-div {
    display: flex;
}
.split {
    height: 100%;
    z-index: 1;
    top: 0;
    padding-top: 20px;
    position: absolute;
}
.men端端-div {
    left: 50%;
    text-align: center;
}
.left {
    top: 15px;
    left: 20px;
}
.button-div {
    color: black;
}
.btn {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
    font-family: Effloresce;
    justify-content: space-evenly;
    display: flex;
    text-align: center;
  }
.avaleht {
    color: black;
    padding-right: 30px;
    text-decoration: none
}
.avaleht:hover {
    background-color: purple;
    color: white;
}
.centre {
    left: 39%;
}
a {
    font-size: 20px;
    text-decoration: none;
    text-decoration-color: black;
}